.detail-clinic-wrap {
    .detail-clinic-top{
        background: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h3{
            font-size:16px !important;
        }
        .detail-clinic-top-container{
            
            background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 1));
            .detail-clinic-top-title{
                font-size: 24px;
                font-weight:600;
                color: #49BCE2;
                padding-top: 10px;
            }
            .detail-clinic-top-content{
                margin-top: 20px;
            }
        }
    }
    
    .detail-clinic-bottom{
        background-color: #EEEEEE;
        padding-top:20px;
        padding-bottom:20px;
        .detail-clinic-bottom-container{
            .detail-clinic-bottom-select{
                width: 150px;
                margin-bottom: 15px;
                box-shadow: 0 1px 6px rgba(32,33,36,0.28 );
                border-radius: 4px;
            }
            .detail-clinic-item{
               
                box-shadow: 0 1px 6px rgba(32,33,36,0.28 );
                border-radius: 8px;
                margin-bottom: 10px;
                padding-top:20px;
                padding-bottom:20px;
                background-color:#fff;
                .detail-clinic-item-content-right{
                    border-left:1px solid #ccc;
                }
            }
        }
    }
   
}