.profile-doctor-container{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    .profile-doctor-avatar{
        width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50px;
        border-color: 1px solid #ccc;
    }
    .profile-doctor-infor{
        flex: 1;
        display: flex;
        flex-direction: column;
       
        .profile-doctor-infor-name{
            font-size: 16px;
            font-weight:600;
            color: #45C3D2;
            padding-bottom: 10px;
            
        }
        .profile-doctor-infor-description{
            font-size:14px;
            color: #777;
            padding-bottom: 10px;
        }
        .profile-doctor-view-detail{
            .profile-doctor-view-detail-link{
                color: #49BCE2;
                text-decoration: none;
            }
        }
        .profile-doctor-infor-price{
            &-title{
                font-size:14px;
                font-weight:600;
                margin-right: 8px;
            }
            &-value{
                font-size:14px;
                font-weight:600;
            }
        }
    }
}