.section-medical-facility {
    .section-container {

        .section-body {
            .section-customize {

                .section-customize-container {
                    .bg-image {
                        width: 100% !important;
                        padding-top: 60% !important;
                        background-image: url('../../../assets/medical-facility/co-so-y-te.jpg');
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }
}