.section-medical-facility {
    .section-container {

        .section-body {
            .section-customize {
                cursor: pointer;
                .section-customize-container {
                    .bg-image {
                        width: 100% !important;
                        padding-top: 60% !important;
                       
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }
}